@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font: "Inter", sans-serif;

  --primary-100: #f26cf9;
  --primary-90: #f589fa;
  --primary-50: #fcd3fe;
  --primary-40: #fce2fe;
  --primary-30: #fdedfe;

  --secondary-110: #1c2346;
  --secondary-100: #37437d;
  --secondary-90: #5562a2;
  --secondary-70: #707dbf;
  --secondary-60: #707dbf;
  --secondary-50: #d3daf9;

  --yellow-100: #ffca39;
  --yellow-90: #fffc3c;

  --gray-10: #ffffff;
  --gray-20: #f7f7f7;
  --gray-30: #ededed;
  --gray-40: #e0e0e1;
  --gray-50: #c3c3c4;
  --gray-60: #9f9fa1;
  --gray-70: #777779;
  --gray-80: #636365;
  --gray-90: #434345;
  --gray-100: #1e1e20;

  --cool-gray-10: #eeffff;
  --cool-gray-20: #e4e5f5;
  --cool-gray-30: #dddeed;
  --cool-gray-40: #d1d2e0;
  --cool-gray-50: #b0b1bd;
  --cool-gray-60: #8f8f99;
  --cool-gray-70: #72737a;
  --cool-gray-80: #56565c;
  --cool-gray-90: #39393d;
  --cool-gray-100: #131314;

  --headline-color: var(--secondary-100);

  --text-color: var(--gray-100);
  --text-muted-color: var(--gray-60);

  --background-color: var(--gray-10);
  --nav-background-color: var(--cool-gray-20);
  --header-background-color: var(--gray-20);
  --main-background-color: var(--gray-20);
  --footer-background-color: var(--gray-20);
  --section-background-color: var(--gray-20);

  --border-color: var(--gray-40);

  --separator-border-color: var(--gray-40);
  --separator-text-color: var(--gray-60);
  --separator-background-color: var(--gray-10);

  --link-color: var(--primary-100);
  --link-hover-color: var(--primary-90);

  --card-background-color: var(--gray-10);
  --card-border-color: var(--gray-20);

  --button-text-color: var(--gray-90);
  --button-border-color: transparent;
  --button-background-color: transparent;
  --button-hover-text-color: var(--gray-90);
  --button-hover-border-color: transparent;
  --button-hover-background-color: transparent;

  --button-link-text-color: var(--primary-100);
  --button-link-border-color: transparent;
  --button-link-background-color: transparent;
  --button-link-hover-text-color: var(--primary-100);
  --button-link-hover-border-color: transparent;
  --button-link-hover-background-color: transparent;

  --button-primary-text-color: var(--gray-10);
  --button-primary-border-color: var(--primary-100);
  --button-primary-background-color: var(--primary-100);
  --button-primary-hover-text-color: var(--gray-10);
  --button-primary-hover-border-color: var(--primary-90);
  --button-primary-hover-background-color: var(--primary-90);

  --button-secondary-text-color: var(--secondary-100);
  --button-secondary-border-color: var(--cool-gray-10);
  --button-secondary-background-color: var(--cool-gray-10);

  --button-outline-text-color: var(--gray-90);
  --button-outline-border-color: var(--gray-30);
  --button-outline-background-color: transparent;

  --input-background-color: var(--gray-10);
  --input-border-color: var(--gray-40);
  --input-border-focus-color: var(--primary-50);
  --input-text-color: var(--gray-100);
  --input-placeholder-color: var(--gray-50);

  --checkbox-background-color: var(--gray-10);
  --checkbox-border-color: var(--gray-40);
  --checkbox-checked-background-color: var(--primary-100);
  --checkbox-checked-border-color: var(--primary-100);
  --checkbox-checked-text-color: var(--gray-10);

  --nav-link-icon-color: var(--secondary-100);
  --nav-link-icon-hover-color: var(--primary-100);
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Buttons */

.btn {
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  border-width: 0;
  border: 1px solid var(--button-border-color);
  border-radius: 10px;
  font-size: 1em;
  font-weight: 400;
  font-family: var(--font);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-width: 130px;

  &:hover {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
    border: 1px solid var(--button-hover-border-color);
    text-decoration: none;
  }
}

.btn-submit {
  width: 100%;
  color: var(--button-primary-text-color);
  background-color: var(--button-primary-background-color);
  padding: 1rem 0;
  margin-top: 2rem;
  &:hover {
    color: var(--button-primary-hover-text-color);
    background-color: var(--button-primary-hover-background-color);
    border: 1px solid var(--button-primary-hover-border-color);
  }
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.portal-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "aside" "header" "main" "footer";
  height: 100dvh;
  margin: 0.5rem;

  @media (min-width: 768px) {
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
  }

  @media (min-width: 1200px) {
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
  }
}

aside {
  grid-area: aside;
  background-color: var(--nav-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

header {
  grid-area: header;
  background-color: var(--header-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

main {
  grid-area: main;
  background-color: var(--main-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

footer {
  grid-area: footer;
  background-color: var(--footer-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

/* aside */

.link-logotype {
  margin-bottom: 2rem;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    gap: 1rem;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .logotype {
    font-size: 24px;
    font-weight: 500;
  }
}

/* navlink */
.nav-link.active {
  cursor: pointer;
  background-color: var(--nav-link-hover-bg);
  color: var(--nav-link-icon-hover-color);
  font-weight: 600;

  i,
  .nav-link-text {
    color: var(--nav-link-icon-hover-color);
  }
}

.nav-links {
  .nav-link {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--nav-link-text-color);

    i {
      font-size: 1.5rem;
      color: var(--nav-link-icon-color);
      margin-right: 1rem;
      transition: color 0.3s ease;
    }

    .nav-link-text {
      font-size: 1rem;
      transition: color 0.3s ease;
    }

    &:hover,
    &.active {
      cursor: pointer;
      background-color: var(--nav-link-hover-bg);
      color: var(--nav-link-icon-hover-color);
      font-weight: 600;

      i,
      .nav-link-text {
        color: var(--nav-link-icon-hover-color);
      }
    }
  }
}


/* input select textarea form */

input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font);
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: var(--input-border-focus-color);
    box-shadow: 0px 0px 0px 2px var(--input-border-focus-color);
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    transition: all 0.3s ease;
  }

  &::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1; /* Firefox */
  }
  &:disabled {
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    cursor: not-allowed;
  }
}

form {
  width: 100%;

  .field-validation-error {
    position: absolute;
    z-index: 1;
    right: 0.22rem;
    top: 5px;
    font-size: 0.78em;
    background-color: var(--danger-20);
    color: var(--danger);
    padding: 0.4rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
  }

  .input-validation-error {
    border-color: var(--danger-20);
  }

  .field-group {
    position: relative;
  }
}

.form-group {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  label {
    font-size: 0.9rem;
    color: var(--gray-80);
  }
}

/* Login Form */

.login-logo {
  display: grid;
  place-items: center;
  width: 350px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}
