@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font: "Inter", sans-serif;

  --primary-100: #f26cf9;
  --primary-90: #f589fa;
  --primary-50: #fcd3fe;
  --primary-40: #fce2fe;
  --primary-30: #fdedfe;

  --secondary-110: #1c2346;
  --secondary-100: #37437d;
  --secondary-90: #5562a2;
  --secondary-70: #707dbf;
  --secondary-60: #707dbf;
  --secondary-50: #d3daf9;

  --yellow-100: #ffca39;
  --yellow-90: #fffc3c;

  --gray-10: #ffffff;
  --gray-20: #f7f7f7;
  --gray-30: #ededed;
  --gray-40: #e0e0e1;
  --gray-50: #c3c3c4;
  --gray-60: #9f9fa1;
  --gray-70: #777779;
  --gray-80: #636365;
  --gray-90: #434345;
  --gray-100: #1e1e20;

  --cool-gray-10: #eeffff;
  --cool-gray-20: #e4e5f5;
  --cool-gray-30: #dddeed;
  --cool-gray-40: #d1d2e0;
  --cool-gray-50: #b0b1bd;
  --cool-gray-60: #8f8f99;
  --cool-gray-70: #72737a;
  --cool-gray-80: #56565c;
  --cool-gray-90: #39393d;
  --cool-gray-100: #131314;

  --headline-color: var(--secondary-100);

  --text-color: var(--gray-100);
  --text-muted-color: var(--gray-60);

  --background-color: var(--gray-10);
  --nav-background-color: var(--cool-gray-20);
  --header-background-color: var(--gray-20);
  --main-background-color: var(--gray-20);
  --footer-background-color: var(--gray-20);
  --section-background-color: var(--gray-20);

  --border-color: var(--gray-40);

  --separator-border-color: var(--gray-40);
  --separator-text-color: var(--gray-60);
  --separator-background-color: var(--gray-10);

  --link-color: var(--primary-100);
  --link-hover-color: var(--primary-90);

  --card-background-color: var(--gray-10);
  --card-border-color: var(--gray-20);

  --button-text-color: var(--gray-90);
  --button-border-color: transparent;
  --button-background-color: transparent;
  --button-hover-text-color: var(--gray-90);
  --button-hover-border-color: transparent;
  --button-hover-background-color: transparent;

  --button-link-text-color: var(--primary-100);
  --button-link-border-color: transparent;
  --button-link-background-color: transparent;
  --button-link-hover-text-color: var(--primary-100);
  --button-link-hover-border-color: transparent;
  --button-link-hover-background-color: transparent;

  --button-primary-text-color: var(--gray-10);
  --button-primary-border-color: var(--primary-100);
  --button-primary-background-color: var(--primary-100);
  --button-primary-hover-text-color: var(--gray-10);
  --button-primary-hover-border-color: var(--primary-90);
  --button-primary-hover-background-color: var(--primary-90);

  --button-secondary-text-color: var(--secondary-100);
  --button-secondary-border-color: var(--cool-gray-10);
  --button-secondary-background-color: var(--cool-gray-10);

  --button-outline-text-color: var(--gray-90);
  --button-outline-border-color: var(--gray-30);
  --button-outline-background-color: transparent;

  --input-background-color: var(--gray-10);
  --input-border-color: var(--gray-40);
  --input-border-focus-color: var(--primary-50);
  --input-text-color: var(--gray-100);
  --input-placeholder-color: var(--gray-50);

  --checkbox-background-color: var(--gray-10);
  --checkbox-border-color: var(--gray-40);
  --checkbox-checked-background-color: var(--primary-100);
  --checkbox-checked-border-color: var(--primary-100);
  --checkbox-checked-text-color: var(--gray-10);

  --nav-link-icon-color: var(--secondary-100);
  --nav-link-icon-hover-color: var(--primary-100);

  --event-card-background-color: var(--gray-10);
  --event-card-list-image-background-color: var(--gray-40);
  --evet-card-date-color: var(--gray-70);

  --btn-account-text-color: var(--gray-100);
  --btn-account-border-color: var(--transparent);
  --btn-account-background-color: var(--transparent);

      /* Dropdown */
    --dropdown-text-color: var(--gray-100);
    --dropdown-border-color: var(--gray-10);
    --dropdown-background-color: var(--gray-10);
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Buttons */

.btn {
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  border-width: 0;
  border: 1px solid var(--button-border-color);
  border-radius: 10px;
  font-size: 1em;
  font-weight: 400;
  font-family: var(--font);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-width: 130px;

  &:hover {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
    border: 1px solid var(--button-hover-border-color);
    text-decoration: none;
  }
}

.btn-submit {
  width: 100%;
  color: var(--button-primary-text-color);
  background-color: var(--button-primary-background-color);
  padding: 1rem 0;
  &:hover {
    color: var(--button-primary-hover-text-color);
    background-color: var(--button-primary-hover-background-color);
    border: 1px solid var(--button-primary-hover-border-color);
  }
}

.btn-link {
  color: var(--button-primary-text-color);
  background-color: var(--button-primary-background-color);
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 0;
  &:hover {
    color: var(--button-primary-hover-text-color);
    background-color: var(--button-primary-hover-background-color);
    border: 1px solid var(--button-primary-hover-border-color);
  }
}

.btn-status {
  color: var(--gray-90);
  background-color: var(--gray-10);
  padding: 0.8rem;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: var(--button-primary-hover-text-color);
    background-color: var(--button-primary-hover-background-color);
    border: 1px solid var(--button-primary-hover-border-color);
  }
}


.btn-account {
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
    background-color: var(--primary-40);
    border: 2px solid var(--primary-100);
    color: var(--btn-account-text-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}

    .btn-account img {
        position: absolute;
        top: 0;
        left: 0;
        height: 33px;
        width: 35px;
        object-fit: contain;
        border-radius: 50%;
        text-align: center;
    }

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.portal-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "aside" "header" "main" "footer";
  height: 100dvh;
  margin: 0.5rem;

  @media (min-width: 768px) {
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
  }

  @media (min-width: 1200px) {
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
  }
}

aside {
  grid-area: aside;
  background-color: var(--nav-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

header {
  grid-area: header;
  background-color: var(--header-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

main {
  grid-area: main;
  background-color: var(--main-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

footer {
  grid-area: footer;
  background-color: var(--footer-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}


/* message */
.error-message {
    color: #FF6347;
    font-size: 0.7rem;
}

.success-message {
    color: #32CD32;
    font-size: 0.7rem;
}
/* aside */

.link-logotype {
  margin-bottom: 2rem;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    gap: 1rem;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .logotype {
    font-size: 24px;
    font-weight: 500;
  }
}

/* navlink */
.nav-link.active {
  cursor: pointer;
  background-color: var(--nav-link-hover-bg);
  color: var(--nav-link-icon-hover-color);
  font-weight: 600;

  i,
  .nav-link-text {
    color: var(--nav-link-icon-hover-color);
  }
}

.nav-links {
  .nav-link {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--nav-link-text-color);

    i {
      font-size: 1.5rem;
      color: var(--nav-link-icon-color);
      margin-right: 1rem;
      transition: color 0.3s ease;
    }

    .nav-link-text {
      font-size: 1rem;
      transition: color 0.3s ease;
    }

    &:hover,
    &.active {
      cursor: pointer;
      background-color: var(--nav-link-hover-bg);
      color: var(--nav-link-icon-hover-color);
      font-weight: 600;

      i,
      .nav-link-text {
        color: var(--nav-link-icon-hover-color);
      }
    }
  }
}

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 4rem;
  align-items: center;
}

#account-container {
  .dropdown {
    min-width: 350px;
  }
}

#account-container .dropdown-header {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.account-dropdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

 #account-container .account-name {
     color: var(--account-name-text-color);
     border: 2px solid var(--account-name-border-color);
     background-color: var(--account-name-background-color);
     display: grid;
     grid-template-columns: auto 1fr;
     align-items: center;
     gap: 0.5rem;
     padding: 0.5rem 1rem;
     border-radius: 10px;
     width: 100%
 }

 #account-container .account-name img {
    height: 40px;
    width: 40px;
    border: 2px solid var(--account-name-image-border-color);
    border-radius: 50%;
    object-fit: cover;
}

/* dropdown */
.dropdown {
    display: none;
    position: absolute;
    right: 2%;
    top: 8%;
    background-color: var(--dropdown-background-color);
    border: 1px solid var(--dropdown-border-color);
    color: var(--dropdown-text-color);
    padding: 0.8rem;
    border-radius: 13px;
    box-shadow: 13px;
}
.dropdown.dropdown-show {
    display: block;
    z-index: 1;
}

.dropdown .dropdown-actions {
        display: grid;
        gap: 0.5rem;
    }

        .dropdown .dropdown-actions .dropdown-action {
            transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out;
            background-color: var(--button-primary-background-color);
            border: 1px solid var(--button-primary-border-color);
            color: var(--button-primary-text-color);
            border-radius: 13px;
            text-decoration: none;
            padding: 1rem 1.5rem;
            font-size: 1em;
            font-family: var(--font-standard);
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            cursor: pointer;
        }

            .dropdown .dropdown-actions .dropdown-action:hover {
                background-color: var(--button-primary-hover-background-color);
                border-color: var(--button-primary-hover-border-color);
                color: var(--button-primary-hover-text-color);
                text-decoration: none;
            }

/* input select textarea form */

input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font);
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: var(--input-border-focus-color);
    box-shadow: 0px 0px 0px 2px var(--input-border-focus-color);
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    transition: all 0.3s ease;
  }

  &::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1; /* Firefox */
  }
  &:disabled {
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    cursor: not-allowed;
  }
}

form {
  width: 100%;

  .field-validation-error {
    position: absolute;
    z-index: 1;
    right: 0.22rem;
    top: 5px;
    font-size: 0.78em;
    background-color: var(--danger-20);
    color: var(--danger);
    padding: 0.4rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
  }

  .input-validation-error {
    border-color: var(--danger-20);
  }

  .field-group {
    position: relative;
  }
}

.form-group {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  label {
    font-size: 0.9rem;
    color: var(--gray-80);
  }
}

/* Login Form */

.login-logo {
  display: grid;
  place-items: center;
  width: 350px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.signup-form,
.login-form {
  button {
    margin-top: 1rem;
  }
  .form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    gap: 1rem ;
  }
}

/* Event */
/* EventHeader */

.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  .event-status-item {
    display: flex;
    gap: 1rem;
  }
}


/* EventList*/

.event-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
    .event-card {
    background-color: var(--event-card-background-color);
    border-radius: 1rem;
    padding: 1rem;
      .event-card-image {
        width: 100%;
        height: 209px;
        border: 0;
        border-radius: 1rem;
        object-fit: cover;
        background-color: var(--event-card-list-image-background-color);
        display: block;
        overflow: hidden;
        margin-bottom: 1rem;
        
      }
    }
}

.event-card-content {
  display: grid;
  gap: 0.7rem;
  margin-bottom: 2rem;
  .event-card-date {
    font-size: 11px;
    color: var(--evet-card-date-color);
    }
  .event-card-title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--gray-100);
  }
  .event-card-location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 11px;
    color: var(--evet-card-date-color);
  }
}

.event-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
    .event-card-price {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-100)
    }
}
